@import '../../styles/variables.scss';

.aside {
	width: 21%;
	height: 100%;
	padding: 12px;
	background-color: hsla(0, 0%, 0%, 0.04);
	border-right: 0.1px solid hsla(0, 0%, 0%, 0.08);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: width .3s ease;
	
	.hide {
		transition: color .2s ease;
	}

	&.small {
		width: 57px;

		.hide {
			color: transparent;
		}
	}

	.title {
		padding: 0 0 20px 0 ;
		display: flex;
		align-items: center;
		gap: 10px;

		.icon {
			background-color: $red;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			padding: 4px;
			border-radius: 8px;

			width: 32px;
			height: 32px;

			&.clickable {
				cursor: pointer;
			}

			.text {
				text-align: center;
			}

			svg {
				width: 32px;
				height: 32px;
				fill: white;

				path {
					stroke: white;
				}
			}
		}

		.toggleShow {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;

			svg {
				width: 18px;
				height: 18px;
			}
		}
	}

	.linkList {
		display: flex;
		gap: 6px;
		flex-direction: column;

		.link {
			display: flex;
			align-items: center;
			gap: 8px;

			font-size: 16px;

			padding: 8px 8px;
			border-radius: 7px;

			transition: all 0.3s ease;

			&:hover {
				background-color: hsla(0, 0%, 0%, 0.1);
			}

			&.active {
				background-color: hsla(0, 0%, 0%, 0.2);
			}

			span {
				width: 16px;
				height: 16px;
			}
		}
	}

	.logoutBtn {
		display: flex;
		align-items: center;
		gap: 10px;

		padding: 8px 8px;
		border-radius: 7px;

		transition: all 0.3s ease;

		&:hover {
			background-color: hsla(0, 0%, 0%, 0.1);
		}

		.icon {
			width: 16px;
			height: 16px;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.text {
			text-align: center;
		}
	}
}
